[Desktop Entry]
Encoding=UTF-8
Name=Link to Built-in Exceptions in Python - GeeksforGeeks
Type=Link
URL=https://www.geeksforgeeks.org/built-exceptions-python/
Icon=text-html
